* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.navbar,
.header, 
.footer {
    background: #1F2937;
}

.main-text,
.logo {
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a,
p,
.img-caption {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

a:hover {
    color:aqua;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

button,
.action {
    background: #3882F6;
    color: #fff;
}

.header button,
.sign-up button {
    border: none;
    border-radius: 10%;
    padding: 5px 10px;
    font-weight: bold;
}

.sign-up button {
    border: 2px solid white;
}


article .container {
    background: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.end {
    color: #E5E7EB;
}

.container {
    padding: 10px 40px;
    padding-bottom: 100px;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

section img {
    height: auto;
    width: 200px;
}

.img-caption {
    color:#1F2937;
}

.title {
    text-align: center;
    margin-top: 30px
}

section .container {
    display: flex;
    flex-direction: ;
}